extends ../layout

block append head
  link(rel='stylesheet', href='/stylesheets/kanban.css')

block content
  .container-fluid
  #sortableKanbanBoards.row
    .panel.panel-primary.kanban-col
      .panel-heading
        | Product backlog
        i.fa.fa-2x.fa-plus-circle.pull-right
      .panel-body
        #TODO.kanban-centered
          article#item6.kanban-entry.grab(draggable='true')
            .kanban-entry-inner
              .kanban-label
                h2
                  a(href='#') Prueba
                p
                  Esto es una prueba
      .panel-footer
        a(href='#') Add a card...
    .panel.panel-primary.kanban-col
      .panel-heading
        | Release backlog
        i.fa.fa-2x.fa-plus-circle.pull-right
      .panel-body
        #DOING.kanban-centered

      .panel-footer
        a(href='#') Add a card...
    .panel.panel-primary.kanban-col
      .panel-heading
        | Sprint backlog
        i.fa.fa-2x.fa-plus-circle.pull-right
      .panel-body
        #DONE.kanban-centered

      .panel-footer
        a(href='#') Add a card...
  #processing-modal.modal.modal-static.fade(role='dialog', aria-hidden='true')
    .modal-dialog=''
      .modal-content
        .modal-body
          .text-center
            i.fa.fa-refresh.fa-5x.fa-spin
            h4 Processing...
block append script
  script(src='/javascripts/kanban.js' type='text/javascript')
