#CardModal.modal.fade(role='dialog')
    .modal-dialog
      // Modal content
      .modal-content
        form(name='crear' id='form-add-card' method='POST' action='/tarjetas')
          .modal-header
            button.close(type='button' data-dismiss='modal') ×
            h4.modal-title Agregar tarjeta
          .modal-body
            .row
              .col-sm-12.form-group
                h5.modal-title Narrativa de la historia
                input.form-control(name='como' required='required' type='text' placeholder='Como')
                br
                input.form-control(name='quiero' required='required' type='text' placeholder='Quiero')
                br
                input.form-control(name='manera' required='required' type='text' placeholder='De tal manera')
                br
                h5.modal-title  Criterios de aceptacion
                input.form-control(name='dado' required='required' type='text' placeholder='Dado')
                br
                input.form-control(name='cuando' required='required' type='text' placeholder='Cuando')
                br
                input.form-control(name='entonces' required='required' type='text' placeholder='Entonces')
                input(hidden='hidden' name='backlog' type='text' required='required')
                input(hidden='hidden' name='proyecto' type='text' value=proyecto._id required='required')

          .modal-footer
            .row
              .col-sm-6
                select.form-control(name='valor' required='required')
                  option(value='' selected) Valor
                  option 1
                  option 2
                  option 3
                  option 5
                  option 8
              .col-sm-6
                button.btn.btn-default(type='submit') Agregar
                button.btn.btn-info(type='button' data-dismiss='modal') Cerrar
