extends ../layout
block append head
  link(rel='stylesheet', href='/stylesheets/login_form.css')
block content
    .wrapper
      form.form-signin(action='/login' method='POST')
        h2.form-signin-heading Please login
        |
        input.form-control(type='email', name='email', placeholder='Email Address', required='required', autofocus='autofocus')
        |
        input.form-control(type='password', name='password', placeholder='Password', required='required')
        |
        label.checkbox
          input#rememberMe(type='checkbox', value='remember-me', name='rememberMe')
          |  Remember me
        |
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
block append script
  script(src='/javascripts/login_form.js' type='text/javascript')
