extends ../layout
block append head
block content
  .container
    h1.well Nuevo proyecto
    .col-lg-12.well
      .row
        form(name='new_project', method='POST', action='/projects/new')
          include project-form.pug
