extends ../layout
block append head
  link(rel='stylesheet', href='/stylesheets/projects.list.css')
block content
  .container
    .row
      .col-xs-12.col-sm-offset-2.col-sm-8(class='[ ]')
        a.btn.btn-success.btn-large.glyphicon.glyphicon-plus(href="/new_project")
        ul.event-list
          each val in [1,2,3]
            li
              time(datetime='2014-07-20')
                span.day= val
                |
                span.month Jul
                |
                span.year 2014
                |
                span.time ALL DAY
              .info
                h2.title Independence Day
                p.desc United States Holiday
                a(href="/statistics") Ver estadísticas
