extends ../layout

block content

  .container
    h1.well Nuevo usuario
    .col-lg-12.well
      .row
        form
          .col-sm-12
            .row
              .col-sm-6.form-group
                label Nombre
                |
                input.form-control(type='text', placeholder='Nombre..')
              .col-sm-6.form-group
                label Apellidos
                |
                input.form-control(type='text', placeholder='Apellidos..')
            .form-group
              label Address
              textarea.form-control(placeholder='Direccion..', rows='3')
            .row
              .col-sm-6.form-group
                label Ciudad
                |
                input.form-control(type='text', placeholder='CURP..')
              .col-sm-6.form-group
                label Estado
                |
                input.form-control(type='text', placeholder='RFC..')
            .row
              .col-sm-12.form-group
                label Habilidades
                |
                textarea.form-control(rows='3', placeholder='Escriba tus habilidades..')
            .row
              .col-sm-6.form-group
                label Email
                |
                input.form-control(type='email', placeholder='Escriba el Email..')
              .col-sm-6.form-group
                label Contrasena
                |
                input.form-control(type='password', placeholder='Escriba la contrasena..')
            button.btn.btn-lg.btn-info(type='button') Submit
