extends ../layout

block content

  .container
    h1.well Nuevo usuario
    .col-lg-12.well
      .row
        form(name='crear', id='form-add-user', method='POST', action='/users')
          include user-form.pug
